{% extends 'base.html.twig' %}

{% block title %}Image Gallery - Freesia{% endblock %}

{% block body %}
    <style>
    .page_speed_755833462 {
        background-image: url('storage/274/album-listing-banner.jpg');
    }
    </style>
    
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
            <div class="scroll home-page" id="scroll">
                <div class="scroll__outer">
                    <header class="innerpages page_speed_755833462">
                        <div class="topbar for-mobile-show" id="for-mobile-show">
                            <div class="web-container">
                                <nav class="navbar navbar-expand-xl navbar-light"><a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="/"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                    <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                        <li class="nav-item"><a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse"><svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                    <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                        <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                        <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                        <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1" />
                                                    </g>
                                                </svg></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <section class="hero-banner">
                            <div class="web-container">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="banner-content">
                                            <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                            <h1 class="mb-0">IMAGE GALLERY</h1>
                                        </div>
                                    </div>
                                </div>
                                <div class="scroll-button"><a href="javascript:void()"
                                        class="btn web-btn disable-link">SCROLL</a></div>
                                <div class="hero-bottom-border">&nbsp;</div>
                            </div>
                        </section>
                    </header>
                    <section class="album-listing section-padtop-100 section-padbottom-100 section-bg-white">
                        <div class="top-line text-center"> &nbsp; </div>
                        <div class="web-container-small pr-4 pl-4">
                            <div class="row">
                                <div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_1.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_2.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_3.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
                        <div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_4.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_5.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_6.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_7.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_8.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_9.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_10.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_11.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_12.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_13.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_14.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_15.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_16.jpg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image_Jaya_New_1.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image_Jaya_New_2.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image_Jaya_New_3.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_20.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_21.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_22.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_23.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_24.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_25.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_26.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/New_Img_27.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image011.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image022.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image033.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image044.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image055.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image066.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image077.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image099.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image010.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
<div class="col-md-4">
                                    <a>
                                        <div class="project-box mb-5 animate" data-animation="fadeInUp"
                                            data-duration="50">
                                            <div class="img-block small-box"><img src="{{ asset('images/Image_Jaya_New_5.jpeg') }}"
                                                    alt="" class="obj-cover"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
{% endblock %}
