{% extends 'base.html.twig' %}

{% block title %}Partners - Freesia{% endblock %}

{% block body %}
    <style>
        .page_speed_100464251 {
            display: none;
        }

        .page_speed_621827620 {
            background-image: url("storage/757/partner-banner.jpg");
        }

        .page_speed_1285196390 {
            font-size: 16px;
        }
    </style>
    <div class="app" id="app" data-v-page="home-page" data-v-pageAjax-name="home-page">
                <div class="scroll home-page" id="scroll">
                    <div class="scroll__outer">
                        <header class="innerpages page_speed_621827620">
                            <div class="topbar for-mobile-show" id="for-mobile-show">
                                <div class="web-container">
                                    <nav class="navbar navbar-expand-xl navbar-light">
                                        <a class="navbar-brand animate w-50"
                                        data-animation="fadeInLeft" data-duration="30" href="index.html"><img
                                            src="storage/148/logo-white.svg" alt="" class="w-100"></a>
                                        <ul class="navbar-nav ml-auto animate" data-animation="fadeInRight"
                                        data-duration="30">
                                            <li class="nav-item">
                                                <a href="javascript:void()" class="nav-link"
                                                id="sidebarCollapse">
                                                    <svg xmlns="http://www.w3.org/2000/svg"
                                                    width="41.5" height="28.725" viewBox="0 0 41.5 28.725">
                                                        <g id="Group_20" data-name="Group 20"
                                                        transform="translate(-1740 -74)">
                                                            <line id="Line_1" data-name="Line 1" x2="40.5"
                                                            transform="translate(1740.5 74.5)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_2" data-name="Line 2" x2="40.5"
                                                            transform="translate(1740.5 88.363)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                            <line id="Line_3" data-name="Line 3" x2="40.5"
                                                            transform="translate(1740.5 102.225)" fill="none"
                                                            stroke="#fefefe" stroke-linecap="round" stroke-width="1"/>
                                                        </g>
                                                    </svg>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <section class="hero-banner">
                                <div class="web-container">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="banner-content">
                                                <h5 class="mb-3">SPECIALIZED IN MEP WORKS</h5>
                                                <h1 class="mb-0">Our Partners and Dealt Authorities</h1>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="scroll-button">
                                        <a href="javascript:void()"
                                        class="btn web-btn disable-link">SCROLL</a>
                                    </div>
                                    <div class="hero-bottom-border">&nbsp;</div>
                                </div>
                            </section>
                        </header>
                        <section class="working-block partners animate" data-animation="fadeInUp" data-duration="50">
                            <div class="web-container">
                                <div class="row justify-content-center">
                                    <div class="col-md-8">
                                        <div class="text-center">
                                            <h5 class="web-light-text text-uppercase mb-2 v-view">
                                                <span> STRATEGIC
                                                PARTNERS</span></h5>
                                            <h2 class="web-light-text text-uppercase mb-3 pb-1 v-view">
                                                <span>WORKING
                                                TOGETHER</span></h2>
                                            <p class="text-white">
                                                <span class="page_speed_1285196390">At FREESIA we work
                                                closely with numerous local, regional and international
                                                companies.&nbsp;<br/>We value our current strategic partnerships and
                                                look forward to growing our network in the future.</span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="top-line">&nbsp;</div>
                        </section>
                        <section class="our-partners">
                            <div class="web-container">
                                <div class="row partner-row">
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_4.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view animate"><img src="{{ asset('images/Partner_New_1.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_2.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_3.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row partner-row">
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_5.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_6.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_7.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_8.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row partner-row">
                                    <div class="col-md-3">
                                        <div class="white-bg v-view animate" data-animation="fadeInUp" data-duration="50">
                                            <div class="img-wrapper v-view"><img src="{{ asset('images/Partner_New_9.png') }}" alt="">
                                            </div>
                                            <div class="content-wrapper v-view">
                                                <p>
                                                    <span></span></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
{% endblock %}
